/* Container für die Tabelle erstellen */
body, .content-wrapper {
  /* Scrollen der Seite verhindern */
  overflow: hidden;
  height: 100vh;
}

/* Containerhöhe für Tabelle festlegen */
#table-container {
  height: calc(100vh - 100px); 
}

/* Erzwingt, dass die Tabelle linksbündig bleibt */
.dataTables_wrapper {
  overflow-x: auto;
  overflow-y: auto;
  margin-left: 0 !important; 
}


/* Versteckt das Pushmenu-Icon */
.navbar-nav .nav-item .nav-link[data-widget='pushmenu'] {
  display: none !important;
}

/* Stelle sicher, dass die Navbar-Höhe stabil bleibt */
.main-header .navbar {
    height: 50px !important; /* Standard-Höhe erzwingen */
    display: flex !important;
    align-items: center !important; /* Vertikale Zentrierung */
}


/* Padding in der äußeren col-sm-12 innerhalb der linken Spalte reduzieren */
.messstellenbetreiber-box-parent {
  padding-left: 1px !important;
}

/* Radiobutton-Gruppe: Margin-Top zurücksetzen */
/* Radiobutton-Labels leicht schöner machen */
.shiny-options-group {
  margin-top: 0px !important;
  line-height: 1.5;
  padding-bottom: 2px;
  font-size: 0.9rem;
}

